[submodule "PartnerAssistant"]
	path = PartnerAssistant
	url = https://github.com/tlab-pss/PartnerAssistant.git
[submodule "PersonalDataRepository"]
	path = PersonalDataRepository
	url = https://github.com/tlab-pss/PersonalDataRepository.git
